<div id="user" class="dark_grey">
  <%= form_for :user, :url => session_path do |f| %>
    <%= f.label :email  %>
    <%= f.text_field :email %><br />

    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <%= check_box_tag :remember_me %>
    <span class="remember_me">Remember me</span><br />

    <div id="submit">
      <%= f.submit "Login", :class => 'left' %>
      <%= link_to "Getting started is easy.", get_started_path, :class => 'right' %>
      <div class="clear"></div>
    </div>
  <% end %>

  <%= render :partial => 'common/alert' %>
</div>

<%= render :partial => 'common/login_instructions' %>
