<!DOCTYPE html>
<html>
  <head>
    <title>Metrics</title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="content">
      <%= render :partial => 'common/header' %>
      
      <%= yield %>
      
      <%= render :partial => 'common/footer' %>
    </div>
  </body>
</html>
